.alignCenter{
  text-align: center;
}

.mat-raised-button {
  border-radius: 20px;
  float: right;
}

table {
  width: 100%;
}

.tableTitle {
  margin:6px auto;
  float: left;
}

button.goToBrandList {
  float: right;
}

.mat-button-wrapper {
  color: rgba(0, 0, 0, 0.87) !important;
}
