<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>New Model</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Enter model name" [formControl]="modelname" required>
      <mat-error *ngIf="modelname.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select Variants" [formControl]="variants" multiple required>
        <mat-select-trigger>
          {{variants.value ? variants.value[0] : ''}}
          <span *ngIf="variants.value?.length > 1" class="example-additional-selection">
            (+{{variants.value.length - 1}} others)
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let variant of variantsList" [value]="variant">{{variant}}</mat-option>
      </mat-select>
      <mat-error *ngIf="variants.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions class="buttonWrapper">
    <button mat-raised-button color="warn" (click)='addModel()' *ngIf="!isUpdateActive" class="btnAddModel">Add Model</button>
    <button mat-raised-button color="warn" (click)='updateModel()' *ngIf="isUpdateActive" class="btnAddModel">Update Model</button>
  </mat-card-actions>
</mat-card>
