.example-card {
  max-width: 400px;
  margin:0 auto;
}

.variantTitle {
  margin: 10px;
}

.buttonWrapper {
  padding: 20px 0 !important;
}

button.mat-raised-button {
  display: block;
  width: 89%;
  margin: 0px auto !important;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.example-radio-button {
  margin: 5px;
}
