<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Add Model Form</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Enter model name" [formControl]="modelname" required>
      <mat-error *ngIf="modelname.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox class="variantTitle" [(ngModel)]="petrol">PETROL</mat-checkbox>
      <mat-checkbox class="variantTitle" [(ngModel)]="diesel">DIESEL</mat-checkbox>
    </section>
  </mat-card-content>
  <mat-card-actions class="buttonWrapper">
    <button mat-raised-button color="warn" (click)="addModel()" class="btnAddModel">Add Model</button>
  </mat-card-actions>
</mat-card>
