<div class="main-content">
  <div class="brandListWrapper">
    <h3 class="tableTitle">Vehicle/Brands Master List</h3>
    <button mat-raised-button color="warn" [routerLink]="['/add-vehicle-brand']" class="goToBrandList" matTooltip="Show All Brand List">Add Vehicle Brand</button>
    <table mat-table [dataSource]="brandDataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand Name </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
      </ng-container>
      <ng-container matColumnDef="vehicletype">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Type </th>
          <td mat-cell *matCellDef="let element"> {{element.vehicletype}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style='text-align:right;'> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button [routerLink]="['/models-list', element.id]" color="primary">Show Models</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="brandColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: brandColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
